
Clinic_System/.vs/Clinic_System/v17/ipch/AutoPCH/9f88fc89cdce3f53/CLINIC_SYSTEM.ipch
Clinic_System/.vs/Clinic_System/v17/Browse.VC.db-wal
Clinic_System/.vs/Clinic_System/v17/Browse.VC.opendb
Clinic_System/.vs/Clinic_System/v17/Browse.VC.db-shm
Clinic_System/.vs/Clinic_System/v17/Browse.VC.db
Clinic_System/.vs/Clinic_System/FileContentIndex/read.lock
Clinic_System/.vs/Clinic_System/FileContentIndex/70b01e5f-6aee-4d54-a796-d1e33041deab.vsidx
.vs/Clinic_System/FileContentIndex/aba457e7-a4ad-4e8f-94e4-2ff65be617d0.vsidx
.vs/Clinic_System/FileContentIndex/read.lock
.vs/Clinic_System/v17/Browse.VC.db
.vs/Clinic_System/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
